SUPABASE_URL=https://vhvrlrfoapwkgochxinl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_66ejO-HuTfP1oHVXL2pfYw_jFSlySXc
GEMINI_API_KEY=AQ.Ab8RN6IAoDsz1vmdOhwxF1pkD3jvUVg0gRwTl9HuLzfTD7gVpA
OPENROUTER_API_KEY=
APIFY_TOKEN=
