NEXT_PUBLIC_SUPABASE_URL=https://vhvrlrfoapwkgochxinl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZodnJscmZvYXB3a2dvY2h4aW5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyODQwMDEsImV4cCI6MjEwNDg2MDAwMX0.K15ViZPzAD1m10o0nn5U79shejne4bHiHyJL2X3PCMo
SUPABASE_SERVICE_ROLE_KEY=sb_secret_66ejO-HuTfP1oHVXL2pfYw_jFSlySXc
DEMO_MODE=
NEXT_PUBLIC_DEMO_MODE=
RAG_SERVICE_URL=http://127.0.0.1:8000
